---
const {title, image, tecno, resume, git} = Astro.props;
---

<article class="card">
        <div class="image"><img src={image} alt={title}></div>
        <div class="title"><h2>{title}</h2></div>
        <div class="tecno"><h3>{tecno}</h3></div>
        <div class="resume"><p>{resume}</p></div>
        <div class="git"><a href={git}><i class="fab fa-github"></i></a></div>
        <div class="pop"><a href="/"><i class="far fa-question-circle"></i></a></div>   
</article>

<style>
    *{
        padding: 0;
        margin: 0;
    }
    .card{
        display: grid;
        justify-content: center;
        align-items: center;
        width: 95%;
        height: 100%;
        padding: 2%;
        border-radius: 20px;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
        background-color: var(--bg-color);
        border: solid 2px yellowgreen;
        grid-template-areas:
        "image image"
        "title title"
        "tecno tecno"
        "resume resume"
        "resume resume"
        "resume resume"
        "github pop";
    }


    .card .image{
        grid-area: image;
        background-color: deeppink;
        /*background-color: var(--primary-color);
        box-shadow: var(--primary-shadow);
        width: 150px;
        height: 150px;*/
        width: 100%;
        height: 100%;
        border-radius: 15px;
        justify-content: center;
        align-items: center;
    }

    .card .image img{
        width: 100%;
        height: 100%;
        border-radius: 15px;
    }

    

    .card .title{
        width: 100%;
        height: 100%;
        background-color: aqua;
        grid-area: title;
        font-size: var(--font-size-title3);
        color: var(--primary-color);
    }
    .card .tecno{
        width: 100%;
        height: 100%;
        background-color: blueviolet;
        grid-area: tecno;
        font-size: var(--font-size-title4);
        color: var(--title-color); 
    }

    .card .resume{
        width: 100%;
        height: 100%;
        background-color: burlywood;
        grid-area: resume;
        font-size: var(--font-size-title4);
        color: var(--title-color2); 
    }

    .card .git{
        width: 100%;
        height: 100%;
        background-color: chartreuse;
        grid-area: github;
        background-color: red;
        font-size: var(--font-size-title3);
    }

    .card .pop{
        width: 100%;
        height: 100%;
        background-color: darkred;
        grid-area: pop;
        background-color: blue;
        font-size: var(--font-size-title3);
    }

    /*-------------------Responsive------------------*/

    @media (width > 500px){

        .card{
            height: 93%;
            grid-template-areas:
            "image image title title"
            "image image tecno tecno"
            "resume resume resume resume"
            "resume resume resume resume"
            "github github pop pop";
        }
        
        

    }

    @media (width > 800px){

        .card{
            grid-template-areas:
            "image title title"
            "image tecno tecno"
            "image resume resume"
            "image resume resume"
            "image github pop";
        }
        .card .image{
            width: 200px;
            height: 200px;
        }
    }

</style>