---
const {title, image, tecno, resume, linkButton} = Astro.props;
---

<article class="card">
    <div class="image"><img src={image} alt="aqui va la imagen"></div>
    <div class="title"><h2>{title}</h2></div>
    <div class="tecno"><h3>{tecno}</h3></div>
    <div class="resume"><p>{resume}</p></div>
    <div class="linkButton"><a href={linkButton}><i class="fab fa-github"></i></a></div>
    
</article>

<style>
    .card{
        width: 90%;
        height: 93%;
        border-radius: 20px;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
        display: block;
        padding: 20px;
        padding-left: 150px;
        background-color: var(--bg-color);
        /*border: solid 2px var(--primary-color);*/
    }

    .card .image{
        position: absolute;
        background-color: var(--bg-color);
        box-shadow: var(--primary-shadow);
        width: 200px;
        height: 200px;
        left: 10px;
        top: 100px;
        border-radius: 15px;
    }


    @media (width > 500px){

    }

    @media (width > 800px){

    }
</style>